@font-face {
  font-family: "Outfit";
  src: url("./fonts/Outfit/Outfit-VariableFont_wght.ttf");
}

:root {
  --night: #080808;
  --cinder: #16161a;
  --black-cow: #4A4A4A;

  --purple-jam: #692190;
  --squash: #FCA311;

  --cadet-grey: #94a1b2;
  --mercury: #E5E5E5;
  --white: #FFFFFF;

  --page-banner-height: 600px;
}

/* semantic color variables for this project */
:root {
  --background: var(--mercury);
  --accent: var(--purple-jam);
  --text: var(--night);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--black-cow);
    --accent: var(--purple-jam);
    --text: var(--mercury);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--text);
  background: var(--background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
