@import 'themes.css';

#app {
  max-width: 1920px;
  margin: 0 auto;
  font-weight: normal;
}

.text-shadow {
  text-shadow:
    0 0 8px var(--background),
    0 0 10px var(--background),
    0 0 5px var(--background);
}
