@import 'themes.css';

#app {
  max-width: 1920px;
  margin: 0 auto;
  font-weight: normal;
}

.text-shadow {
  text-shadow:
    0 0 1px var(--background),
    0 0 2px var(--background),
    0 0 3px var(--background);
}
