@import "./base.css";

#app {
  /* max-width: 1280px; */
  margin: 0 auto;

  font-weight: normal;
  display: flex;
  flex-direction: row;
}

@media (max-width: 800px) {
  #app {
    flex-direction: column-reverse;
  }
}
